<h1>Welcome to your travel blog!</h1>
<a href='/places/new'>Add a place you've been</a>
<a href='/places'>See your current list of places traveled to</a>
<a href="/places/newest">Into the Dungeon.</a>