
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
  </head>
  <body>
    <h1>Add location to your travel history list:</h1>
    <form action="/places" method="post">
      <label for="city">City Name</label>
      <input id="city" name="city" type="text">
      <label for="description">Trip Highlights</label>
      <input id="description" name="description" type="text">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>